<style>
    .wrapper { float: left; clear: left; display: table; table-layout: fixed; }
    img.img-responsive { display: table-cell; max-width: 100%; }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img class="img-responsive" class="img-responsive" src="{{ "/images/emoji/laughing.png" | prepend: site.baseurl }}" alt="" title="Lauging" align=center/>
      <div>
        <strong>Laughing</strong>
        <div>
          <small>Mouth opened and both eyes closed</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/smiley.png" | prepend: site.baseurl }}" alt="" title="Smiley" align=center/>
      <div>
        <strong>Smiley</strong>
        <div>
          <small>Smiling, Mouth opened and both eyes opened</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/relaxed.png" | prepend: site.baseurl }}" alt="" title="Relaxed" align=center/>
      <div>
        <strong>Relaxed</strong>
        <div>
          <small>Smiling and both eyes opened </small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/wink.png" | prepend: site.baseurl }}" alt="" title="Wink" align=center/>
      <div>
        <strong>Wink</strong>
        <div>
          <small>Either of the eyes closed</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/kissing.png" | prepend: site.baseurl }}" alt="" title="Kissing" align=center/>
      <div>
        <strong>Kissing</strong>
        <div>
          <small>The lips puckered and both eyes opened</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/stuckOutTongue.png" | prepend: site.baseurl }}" alt="" title="Stuck Out Tongue" align=center/>
      <div>
        <strong>Stuck Out Tongue</strong>
        <div>
          <small>The tongue clearly visible</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/stuckOutTongueWinkingEye.png" | prepend: site.baseurl }}" alt="" title="Stuck Out Tongue and Winking Eye" align=center/>
      <div>
        <strong>Stuck Out Tongue and Winking Eye</strong>
        <div>
          <small>The tongue clearly visible and either of the eyes closed</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/scream.png" | prepend: site.baseurl }}" alt="" title="Scream" align=center/>
      <div>
        <strong>Scream</strong>
        <div>
          <small>The eye brows raised and the mouth opened</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <img style="width=auto; height=100;" class="img-responsive" src="{{ "/images/emoji/flushed.png" | prepend: site.baseurl }}" alt="" title="Flushed" align=center/>
      <div>
        <strong>Flushed</strong>
        <div>
          <small>The eye brows raised and both eyes widened</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/smirk.png" | prepend: site.baseurl }}" alt="" title="Smirk" align=center/>
      <strong>Smirk</strong>
      <div>
        <small>Left or right lip corner pulled upwards and outwards</small>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/disappointed.png" | prepend: site.baseurl }}" alt="" title="Disappointed" align=center/>
      <strong>Disappointed</strong>
      <div>
        <small>frowned</small>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/rage.png" | prepend: site.baseurl }}" alt="" title="rage" align=center/>
      <div>
        <strong>Rage</strong>
        <div>
          <small>The brows furrowed, and the lips tightened and pressed</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <img class="img-responsive" src="{{ "/images/emoji/neutral.png" | prepend: site.baseurl }}" alt="" title="Neutral" align=center/>
      <div>
        <strong>Neutral</strong>
        <div>
          <small>Neutral face without any facial expressions</small>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
