<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <div>
        <img src="{{ "/images/faces/Anger.jpg" | prepend: site.baseurl }}" alt="" title="Anger" align=center/>
      </div>
      <strong>Anger</strong>
    </div>
    <div class="col-sm-3 text-center">
      <div>
        <img src="{{ "/images/faces/Sadness.jpg" | prepend: site.baseurl }}" alt="" title="Sadness" align=center/>
      </div>
      <strong>Sadness</strong>
    </div>
    <div class="col-sm-3 text-center">
      <div>
        <img src="{{ "/images/faces/Disgust.jpg" | prepend: site.baseurl }}" alt="" title="Disgust" align=center/>
      </div>
      <strong>Disgust</strong>
    </div>
    <div class="col-sm-3 text-center">
      <div>
        <img src="{{ "/images/faces/Fear.jpg" | prepend: site.baseurl }}" alt="" title="Fear" align=center/>
      </div>
      <strong>Fear</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <div>
        <img src="{{ "/images/faces/Joy.jpg" | prepend: site.baseurl }}" alt="" title="Joy" align=center/>
      </div>
      <strong>Joy</strong>
    </div>
    <div class="col-sm-3 text-center">
      <div>
        <img src="{{ "/images/faces/Surprise.jpg" | prepend: site.baseurl }}" alt="" title="Surprise" align=center/>
      </div>
      <strong>Surprise</strong>
    </div>
    <div class="col-sm-3 text-center">
      <div>
        <img src="{{ "/images/faces/Contempt.jpg" | prepend: site.baseurl }}" alt="" title="Contempt" align=center/>
      </div>
      <strong>Contempt</strong>
    </div>
  </div>
</div>
<br />
