<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Attention.jpg" | prepend: site.baseurl }}" alt="" title="Attention" align=center/>
      <div>
        <strong>Attention</strong>
        <div>
          <small>Measure of focus of the user based on the head orientation</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Brow%20Furrow.jpg" | prepend: site.baseurl }}" alt="" title="Borrow Furrow" align=center/>
      <div>
        <strong>Brow Furrow</strong>
        <div>
          <small>Both eyebrows moving lower and closer together</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Brow%20Raise.jpg" | prepend: site.baseurl }}" alt="" title="Brow Raise" align=center/>
      <div>
        <strong>Brow Raise</strong>
        <div>
          <small>Both eyebrows moved upwards</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Inner%20Brow%20Raise.jpg" | prepend: site.baseurl }}" alt="" title="Inner Brow Raise" align=center/>
      <div>
        <strong>Inner Brow Raise</strong>
        <div>
          <small>The inner corners of eyebrows are raised</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Eye%20Closure.jpg" | prepend: site.baseurl }}" alt="" title="Eye Closure" align=center/>
      <div>
        <strong>Eye Closure</strong>
        <div>
          <small>Both eyelids closed</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Nose%20Wrinkle.jpg" | prepend: site.baseurl }}" alt="" title="Nose Wrinkle" align=center/>
      <div>
        <strong>Nose Wrinkle</strong>
        <div>
          <small>Wrinkles appear along the sides and across the root of the nose due to skin pulled upwards</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Upper%20Lip%20Raise.jpg" | prepend: site.baseurl }}" alt="" title="Upper Lip Raise" align=center/>
      <div>
        <strong>Upper Lip Raise</strong>
        <div>
          <small>The upper lip moving upwards</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Lip%20Suck.jpg" | prepend: site.baseurl }}" alt="" title="Lip Suck" align=center/>
      <div>
        <strong>Lip Suck</strong>
        <div>
          <small>Measure of pull of the lips and the adjacent skin into the mouth</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <img style="width=auto; height=100;" src="{{ "/images/faces/Lip%20Pucker.jpg" | prepend: site.baseurl }}" alt="" title="Lip Pucker" align=center/>
      <div>
        <strong>Lip Pucker</strong>
        <div>
          <small>The lips pushed foward</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Lip%20Press.jpg" | prepend: site.baseurl }}" alt="" title="Lip%20Press" align=center/>
      <div>
        <strong>Lip Press</strong>
        <div>
          <small>Pressing the lips together without pushing up the chin boss</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Mouth%20Open.jpg" | prepend: site.baseurl }}" alt="" title="Mouth Open" align=center/>
      <div>
        <strong>Mouth Open</strong>
        <div>
          <small>Lower lip dropped downwards</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Lip%20Depressor.jpg" | prepend: site.baseurl }}" alt="" title="Lip Corner Depressor" align=center/>
      <div>
        <strong>Lip Corner Depressor</strong>
        <div>
          <small>Lip corners dropping downwards (frown)</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Chin%20Raise.jpg" | prepend: site.baseurl }}" alt="" title="Chin Raise" align=center/>
      <div>
        <strong>Chin Raise</strong>
        <div>
          <small>The chin boss and the lower lip pushed upwards</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Smirk.jpg" | prepend: site.baseurl }}" alt="" title="Smirk" align=center/>
      <div>
        <strong>Smirk</strong>
        <div>
          <small>Left or right lip corner pulled upwards and outwards</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <img src="{{ "/images/faces/Smile.jpg" | prepend: site.baseurl }}" alt="" title="Smile" align=center/>
      <div>
        <strong>Smile</strong>
        <div>
          <small>Lip corners pulling outwards and upwards towards the ears, combined with other indicators from around the face</small>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
